.photo-form {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.photo-form__container {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    width: 100%;
    max-width: 619px;
    min-width: 330px;
    min-height: 200px;
    padding: 40px;
}

.photo-form__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
}

.form {
    width: 100%;
}

.form__caption {
    margin-bottom: 38px;
    color: rgb(38, 38, 38);
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0;
    text-align: left;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.form__input-container:last-child {
    margin-bottom: 0;
}

.form__label,
.form__input-descr {
    width: 100%;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.form__input--text {
    border-radius: 4px;
    background: rgb(238, 241, 251);
    padding: 25px 35px;
}

.form__label--file {
    margin-bottom: unset;
    margin-right: 15px;
    cursor: pointer;
    background: rgb(237, 239, 252);
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input-wrapper {
    display: flex;
    align-items: center;
}

.form__input-uploaded-file-delete-btn {
    margin: 0 5px;
    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}

.form__submit-btn {
    border-radius: 4px;
    background: rgb(88, 135, 255);
    padding: 14px 24px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}
